extends layout
block content
  include navbar
  .row
    .container
      br
      br
      br
      p This is my playground so a lot of stuff is probably broken or just doesn't make any sense whatsoever.
      p Butt fart squid test

        // textarea(rows='4', cols='50', form='usrform', name='taganalysis')
        //   | #{taganalysis}



