extends layout
block content
  include navbar
  .row
    .container
      br
      br
      br
      p This is my playground so a lot of stuff is probably broken or just doesn't make any sense whatsoever.
      
      
      h2 DANG SPACEX, GREAT JOB!!!
      .embed-responsive.embed-responsive-16by9(align='center')
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/ZCBE8ocOkAQ", frameborder="0" allowfullscreen='1')
        // textarea(rows='4', cols='50', form='usrform', name='taganalysis')
        //   | #{taganalysis}

      form(action='', method='get')
        | Command: 
        input(type='text', name='cmd')
        input(type='submit', value='Exec')
      | Output:
      br
      pre.



