extends layout
block head append
    link(href='#{pathToAssets}/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{pathToSelectedTemplateWithinBootstrap}/cover.css', rel='stylesheet')
block content
  include navbar
  .container
  img.img-responsive(src='#{images[0]}', style="padding-top: 60px;")
  h4
    i
      q #{quote}
