extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
    .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |                     
          span.icon-bar
          |                     
          span.icon-bar
          |                     
          span.icon-bar
        |                 
        a.navbar-brand.hidden-xs(href='#page-top') Joshua Hurt
        |                 
        .navbar-brand.visible-xs Joshua Hurt
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.hidden
            a(href='#page-top')
          |                     
          li.page-scroll
            a(href='/') Home
          |                     
          li.page-scroll
            a(href='#portfolio') Portfolio
          |                     
          li.page-scroll
            a(href='#about') About
          |                     
          li.page-scroll
            a(href='#contact') Contact
  header
    .container
      .row
        .col-lg-12
          img.img-responsive.img-rounded.header-img(src='img/jeebus_sm.jpg', alt='')
          |                     
          .intro-text
            span.name Joshua Hurt
            |                         
            hr.star-light
            |                         
            span.skills Student of Computer Science | The University of Texas at Austin
  // Portfolio Grid Section
  section#portfolio
    .container
      .row
        .col-lg-12.text-center
          h2 Portfolio
          |                     
          hr.star-primary
    |         
    .container-fluid
      #custom_carousel.carousel.slide(data-ride='carousel', data-interval='0')
        // Carousel Tab Controls
        .controls
          ul.nav
            li.active(data-target='#custom_carousel', data-slide-to='0')
              a(href='#')
                p Exp
            |                 
            li(data-target='#custom_carousel', data-slide-to='1')
              a(href='#')
                p Python
            |                 
            li(data-target='#custom_carousel', data-slide-to='2')
              a(href='#')
                p Java
            |                 
            li(data-target='#custom_carousel', data-slide-to='3')
              a(href='#')
                p Web
        // Wrapper for slides
        .carousel-inner
          .item.active
            .container-fluid
              .row
                .col-md-3
                  img.img-responsive.hidden-xs(src='img/nasa.jpg')
                |                         
                .col-md-9
                  h2 Intern at NASA MSFC
                  |                             
                  p
                    | I was an intern for the Deputy Center Chief Technologist at 
                    | NASA'S Marshall Space Flight Center in Huntsville, Alabama. 
                    | I worked on building a physical display highlighting the Center's significant technology achievements.
                    | In addition to this project, I worked on a side project helping to integrate RCS (Reaction Control System)
                    | code for the "Nanolauncher" project into a pub/sub framework setup written in C++ and wrapped in lua.
                  |                             
                  p
                  h2 Intern at UnboundID
                  |  
                  p
                    |   On May 2015 I started as a Product Development Intern for Austin-based company 
                    a(href='https://www.unboundid.com/', target='_top') UnboundID
                    | . I am still currently working there (Spring 2016). Some of the things I've done or am currently working on so far:
                    |  
                    ul
                      li
                        |   I've developed a new tool used to search through compressed log data to make it easier to diagnose clients' issues.
                      |  
                      li I've wrote software to analyze a server configuration for common errors.
                      |  
                      li Implementing the installation process for a new product.
                  |  
                  |  
          .item
            .container-fluid
              .row
                .col-md-3
                  // What sm and up sees
                  .embed-responsive.embed-responsive-16by9.hidden-xs(align='center')
                    video.embed-responsive-item(align='center', preload='', controls='')
                      source(src='./img/blendsel.webm')
                | 
                .col-md-9
                  h2 Blender plugin for the Sensel Morph
                  |  
                  p
                    a(href='https://github.com/pmauldin/HackThePlanet', target='_top') GitHub
                    | &nbsp;
                    a.visible-xs(href='#morphDemo', data-toggle='modal') Video demo
                  |  
                  p
                    | My friend 
                    a(href='http://www.cs.utexas.edu/~pmauldin/') Peter Mauldin
                    |  and I won best use of the
                    a(href='http://www.sensel.com/') Sensel Morph
                    |  hardware at a hackathon in California called "Hack The Planet". 
              |  
              .row
                .col-md-3
                  // What sm and up sees
                  .embed-responsive.embed-responsive-16by9.hidden-xs(align='center')
                    video.embed-responsive-item(align='center', preload='', controls='')
                      source(src='./img/myo.webm')
                |                         
                .col-md-9
                  h2 Myo-controlled Desktop (Linux)
                  |                             
                  p
                    a(href='https://github.com/CamelBackNotation/hackdfw', target='_top') GitHub
                    | &nbsp;
                    a.visible-xs(href='#myoArmband', data-toggle='modal') Video demo
                  |                             
                  p
                    | My friend 
                    a(href='http://www.cs.utexas.edu/~pmauldin/') Peter Mauldin
                    |  and I took a 
                    a(href='https://www.thalmic.com/en/myo/') Myo armband
                    | , created custom gestures from raw EMG data, and mapped those gestures to various actions for our computer. 
                    | The video demo shows off one of our gestures: when the user gives a thumbs up, 
                    | their music player of choice will open. For me it was Spotify.
                  |  
                  |  
                  p
                    | We also mapped a middle-finger to open our Snake Solver (see above) game, 
                    | a slightly curled palm thrust forward would open a new tab in Chrome 
                    | (first opening Chrome if it was not open), and swiping your hand to the right would 
                    | alt-tab between currently open programs.
              |  
              .row
                .col-md-3
                  // What sm and up sees
                  //
                    <div align="center" class="embed-responsive embed-responsive-16by9 hidden-xs"><video align="center" class="embed-responsive-item" preload controls muted ><source src="http://webmup.com/6Bt83/vid.webm"/></video>
                    </div>
                  .hidden-xs(align='center')
                    p Video currently unavailable
                |  
                .col-md-9
                  h2 Snake Solver
                  |                             
                  p
                    a(href='https://github.com/CamelBackNotation/gamejam', target='_top') GitHub
                    | &nbsp;
                    a.visible-xs(href='#snakesolverDemo', data-toggle='modal') Video demo
                  |                             
                  p
                    | Snake Solver is a Python game written using the Pygame library during Jolly's Game Jam. The game is similar to snake except you have to eat the number which solves the equation at the top in order to advance to the next level. The game is 2-player to fit Jolly's Game Jam theme of &quot;Co-op&quot;.
                  p
                    | The video shows how control of the snake switches between players every 3rd level as depicted by a color change of the snake. This allows each player to trade-off roles of focusing on solving the equation and navigating the snake safely.
          |  
          |             
          .item
            .container-fluid
              .row
                .col-md-3.portfolio-item
                  img.img-responsive.hidden-xs(src='img/wdb_console_sm.png')
                |                        
                .col-md-9
                  h2 WDB
                  |                               
                  p
                    a(href='https://github.com/tireymorris/F15D1', target='_top') GitHub
                    br
                    a(href='#wdbDemo', data-toggle='modal') Larger image
                  |                               
                  p
                    | WDB is an object-oriented database that was previously configured to use BDB as its backend to store the information.
                    | I reimplemented WDB to use Oracle NoSQL to take advantage of replication nodes for reliability.
                  p
                    | (Pending) I may be the maintainer for WDB when it becomes open-source this upcoming semester (Spring 2016)
                    | with plans to write an API for Java and C.
          |  
          |  
          .item
            .container-fluid
              .row
                .col-md-3
                  img.img-responsive.hidden-xs(src='img/website.png')
                |  
                .col-md-9
                  h2 This website
                  |  
                  p
                    a(href='https://github.com/CamelBackNotation/webcrAPPtastic', target='_top') GitHub
                  p
                    | This website is made using Node.js, Express.js, Jade, and Bootstrap. I plan to add
                    | React or Angular later (especially for the Marvel section).
          // End Item
        // End Carousel Inner
      // End Carousel
  // About Section
  section#about.success
    .container
      .row
        .col-lg-12.text-center
          h2 About
          |                     
          hr.star-light
      |             
      .row
        .col-lg-8.col-lg-offset-2
          p(style='text-align:justified;')
            | I enjoy backpacking, Super Smash Bros, programming, and craft beers. Check out my GitHub and resume! If you have any questions just scroll down to send me a message.
        |                 
        .col-lg-8.col-lg-offset-2.text-center
          .btn-group.btn-group-lg
            a.btn.btn-lg.btn-outline(href='http://github.com/CamelBackNotation', target='_top')
              i.fa.fa-github-alt
              | GitHub
            |                     
            a.btn.btn-lg.btn-outline(href='/Joshua_Hurt_Resume.pdf')
              i.fa.fa-download
              | Resume
  // Contact Section
  section#contact
    .container
      .row
        .col-lg-12.text-center
          h2 Contact Me
          |                     
          hr.star-primary
      |             
      .row
        .col-lg-8.col-lg-offset-2
          // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
          // The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
          form#contactForm(name='sentMessage', novalidate='')
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Name
                |                                 
                input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
                |                                 
                p.help-block.text-danger
            |                         
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Email Address
                |                                 
                input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
                |                                 
                p.help-block.text-danger
            |                         
            .row.control-group
              .form-group.col-xs-12.floating-label-form-group.controls
                label Message
                |                                 
                textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
                |                                 
                p.help-block.text-danger
            |                         
            .row.control-group
              .form-group.col-xs-12.controls
                label Are you a recruiter?
                |                     
                .col-lg-10
                  .radio
                    label.radio-inline
                      input#recruiter(type='radio', name='isRecruiter', required='', value='Yes')
                      | Yes
                    |                             
                    label.radio-inline
                      input#recruiter(type='radio', name='isRecruiter', required='', value='No')
                      | No
                    |                             
                    .radio.disabled
                      label.radio-inline(title='San Diego, which of course in German means "A Whale\'s Vagina"')
                        input(type='radio', name='isRecruiter', disabled='')
                        | I'm Ron Burgandy?
                |  
                p.help-block.text-danger
            |                         
            br
            |                         
            #success
            |                         
            .row
              .form-group.col-xs-12
                button.btn.btn-success.btn-lg(type='submit') Send
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-top.page-scroll.visible-xs.visble-sm
    a.btn.btn-primary(href='#page-top')
      i.fa.fa-chevron-up
      
      
      
  // Snake Solver pop-up video
  #snakesolverDemo.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      |             
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Snake Solver Demo
              div(align='center')
                h4 Video currently unavailable
              |                             
              p
                | This game was challenging to playtest because doing math after being awake for 24+ hours is much tougher than you would think. The audio is muted because the background music is 
                a(href='https://www.youtube.com/watch?v=QrGrOK8oZG8', target='_top') &quot;Too Many Cooks&quot;
              button.btn.btn-default(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close
  // Stock Feed pop-up video
  #wdbDemo.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      |             
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 WDB Demo
              |                             
              //
                .embed-responsive.embed-responsive-16by9(align='center'
                  iframe.embed-responsive-item(src='https://www.youtube.com/embed/OsUa72iBv9M?rel=0', frameborder='0', allowfullscreen='')
              img.img-responsive(src='img/wdb_console_sm.png') 
              |  
              //
                p
                  | Add WDB stuff here
              button.btn.btn-default(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close
  // Myo Armband Gesture pop-up video
  #myoArmband.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      |             
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Myo Desktop Demo
              |                             
              .embed-responsive.embed-responsive-16by9(align='center')
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/HCUGjkVbd2I", frameborder="0" allowfullscreen='')
              |                             
              p
                | This project took us 3 hours from start to finish. We decided to do this because our first idea of a motion-controlled occulus-experienced flight simulator fell through. The drivers we used for the Myo were open-source and provided us the raw EMG data to create our custom gestures.
              button.btn.btn-default(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close
  // Myo Armband Gesture pop-up video
  #morphDemo.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      |  
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Blender plugin demo for the Sensel Morph
              |  
              .embed-responsive.embed-responsive-16by9(align='center')
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/08UW8MsbjtU", frameborder="0" allowfullscreen='')
              |  
              p
                | I have several ideas for how to improve on this project but development has to wait
                | until I receive my Morph from the creators once they begin shipping. I'd like to 
                | allow artists to create buttons via drawing and then choose what tool maps to that
                | location.
              button.btn.btn-default(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close

append scripts
  script(src='/javascripts/jquery.bootstrap-autohidingnavbar.js')
  |     
  script.
    $(".navbar-fixed-top").autoHidingNavbar();
